.notesListContainer  h2 {
  text-align: center;
  background: rgb(38, 4, 66);
  color: white;
  padding: 10px 0;
  position: relative;
}

.notesListContainer h2 span {
  line-height: 1;
  /* width: 26px;
  height: 26px; */
  padding: 3px 9px;
  border: 1px solid white;
  position: absolute;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px;
}

.notesListContainer h2 span:hover {
 background: wheat;
 color: black;
 font-weight: 700;
}

.notesListContainer ul {
  /* padding: 30px 60px; */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 2rem;
}

.notesListContainer ul li {
  border: 1px solid rgb(178, 178, 178);
  padding: 4px 8px;
  cursor: pointer;
  font-size: 18px;
}

.notesListContainer ul li a {
  text-decoration: none;
}

.notesListContainer ul li:not(:first-of-type) {
  border-left: none;
}

.notesListContainer ul li:has(a.active),
.notesListContainer ul li:hover {
  background-color: #bbbbbb;
  color: white;
}


